$color-dark : #282828;
$color-dark--light : #474747;
$color-light : #5d5d5d;
$color-secondary: rgb(20, 102, 168);
$color-border : rgba(0, 0, 0, 0.76);
$color-border--light : rgba(0, 0, 0, 0.36);
$color-scrollBackground: #eee;
